@font-face {
  font-family: 'Avolta Display';
  src:
    url('/fonts/AvoltaDisplay-SemiBold.otf') format('opentype'),
    url('/fonts/AvoltaDisplay-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Saans Font */
@font-face {
  font-family: 'Saans';
  src:
    url('/fonts/Saans-Light.otf') format('opentype'),
    url('/fonts/Saans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Saans';
  src:
    url('/fonts/Saans-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Saans';
  src:
    url('/fonts/Saans-Medium.otf') format('opentype'),
    url('/fonts/Saans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Saans';
  src:
    url('/fonts/Saans-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}